<div class="cv">
	<div class="cv_row">
		<div class="cv_heading">
			Резюме
		</div>
		<div class="cv_fields">
			<div class="fields_item">
				<label class="labelName" for="name">Имя</label>
			    <input type="text" name="name" value="{{cv.name}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="surname">Фамилия</label>
			    <input type="text" name="surname" value="{{cv.surname}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="email">Email</label>
			    <input type="text" name="email" value="{{cv.email}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="phoneNumber">Номер телефона
</label>
			    <input type="text" name="phoneNumber" value="{{cv.phoneNumber}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="age">Возраст</label>
			    <input type="text" name="age" value="{{cv.age}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="city">Город проживания
</label>
			    <input type="text" name="city" value="{{cv.city}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="position">Желаемая должность
</label>
			    <input type="text" name="position" value="{{cv.position}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="salary">Доход</label>
			    <input type="text" name="salary" value="{{cv.salary}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="occupation">Занятость</label>
			    <input type="text" name="occupation" value="{{cv.occupation}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="education">Уровень образования</label>
			    <input type="text" name="education" value="{{cv.education}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="educationPlace">Название учебного заведения</label>
			    <input type="text" name="educationPlace" value="{{cv.educationPlace}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="faculty">Факультет
</label>
			    <input type="text" name="faculty" value="{{cv.faculty}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="speciality">Специальность</label>
			    <input type="text" name="speciality" value="{{cv.speciality}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="aboutYou">О себе
</label>
			    <input type="text" name="aboutYou" value="{{cv.aboutYou}}" disabled>
			</div>
		</div>
	</div>
</div>
