<div class="cv">
	<div class="cv_row">
		<div class="cv_heading">
			Вакансия
		</div>
		<div class="deleteButton">
			<button class="btn btn-outline-danger" type="button" (click)="deleteVacancy()">Удалить статью</button>
		</div>
		<div class="cv_fields">
			<div class="fields_item">
				<label class="labelName" for="name">Название компании</label>
			    <input type="text" name="name" value="{{vacancy.name}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="email">Email</label>
			    <input type="text" name="email" value="{{vacancy.email}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="city">Местоположение
</label>
			    <input type="text" name="city" value="{{vacancy.city}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="position">Должность
</label>
			    <input type="text" name="position" value="{{vacancy.position}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="salary">Зарплата</label>
			    <input type="text" name="salary" value="{{vacancy.salary}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="occupation">Занятость</label>
			    <input type="text" name="occupation" value="{{vacancy.occupation}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="experience">Опыт работы</label>
			    <input type="text" name="experience" value="{{vacancy.experience}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="responsibility">Обязанности</label>
				<textarea name="responsibility" disabled>{{vacancy.responsibility}}</textarea>
			</div>
			<div class="fields_item">
				<label class="labelName" for="requirements">Требования
</label>
			    <textarea name="requirements" disabled>{{vacancy.requirements}}</textarea>
			</div>
			<div class="fields_item">
				<label class="labelName" for="conditions">Условия</label>
			    <textarea name="conditions" disabled>{{vacancy.conditions}}</textarea>
			</div>
			<div class="fields_item">
				<label class="labelName" for="aboutYou">О себе
</label>
			    <textarea name="aboutYou" disabled>{{vacancy.aboutYou}}</textarea>
			</div>
		</div>
	</div>
</div>
