<div class="main_header">
		<div class="content">
			<div class="main_header_menuAndBlocks">
				<div class="menu">
					<div class="menu_row">
						<div class="menu-icon">
							<a routerLink="../home"><img src="../assets/image/study.png" alt=""></a>
						</div>
						<div class="menu_burger">
							<span></span>
						</div>
					</div>
				</div>
				<div class="blocks">
					<div class="menu-refs">
						<nav>
							<a class="button_item" routerLink="../home">Главная</a>
							<a class="button_item">О нас</a>
							<a class="button_item">Контакты</a>
							<a *ngIf="!authService.isLoggedIn() && !companyAuthentificationService.isLoggedIn()" class="button_item" routerLink="../auth">Войти</a>
							<a *ngIf="authService.isLoggedIn()" class="button_item" routerLink="../dashboard">Мой профиль</a>
							<a *ngIf="companyAuthentificationService.isLoggedIn()" class="button_item" routerLink="../company-dashboard">Профиль компании</a>
						</nav>
					</div>
					<div class="blocks_menu">
						<nav>
							<a>Найти работу</a>
							<a routerLink="../employers">Работодатели</a>
							<a routerLink="../vacancies">Вакансии</a>
							<a>Советы</a>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
