<div class="main_header">
		<div class="content">
			<div class="main_header_menuAndBlocks">
				<div class="menu">
					<div class="menu_row">
						<div class="menu-icon">
							<a routerLink="../home"><img src="../assets/image/study.png" alt=""></a>
						</div>
						<div class="menu_burger">
							<span></span>
						</div>
					</div>
				</div>
				<div class="blocks">
					<div class="menu-refs">
						<nav>
							<a class="button_item" routerLink="../home">Главная</a>
							<a class="button_item">О нас</a>
							<a class="button_item">Контакты</a>
							<a class="button_item" routerLink="../auth">Войти</a>
						</nav>
					</div>
					<div class="blocks_menu">
						<nav>
							<a>Найти работу</a>
							<a>Работодатели</a>
							<a>Вакансии</a>
							<a>Советы</a>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
