<div class="selectAuth">
	<div class="content">
		<div class="selectAuth_row">
			<div class="selectAuth_heading">
				Регистрация
			</div>
			<div class="selectAuth_subheading">
				Кем Вы являетесь?
			</div>
			<div class="selectAuth_buttons">
				<div class="buttons_row">
					<div class="buttons_button">
						<button class="selectAuth_button firstButton" type="button" routerLink="../company-registration">Работодатель</button>
					</div>
					<div class="buttons_button">
						<button class="selectAuth_button secondButton" type="button" routerLink="../registration">Соискатель</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
