<div class="helloForm">
	<div class="content">
		<div class="helloForm_row">
			<div class="helloForm_heading">Найди лучшую стажировку <br> в компании мечты!</div>
			<div class="helloForm_signUp">
				<form action="">
					<div class="helloForm_signUp_row">
						<div class="signUp_inputs">
							<input class="signUp_firstInput inputItem" type="text" placeholder="Email" name="email">
							<input class="signUp_secondInput inputItem" type="text" placeholder="Password" name="password">
						</div>
						<div class="signUp_buttons">
							<button class="signUp_firstButton buttonItem" type="button">Sign up</button>
							<button class="signUp_secondButton buttonItem" type="button" routerLink="../registration">Register</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="search">
	<div class="content">
		<div class="search_row">
			<div class="search_heading">Введите название вакансии</div>
			<div class="search_form">
				<form action="">
					<div class="search_form_row">
						<div class="search_form_input">
							<input class="search_input inputItem" type="text" placeholder="Vacancy" name="vacancy">
						</div>
						<div class="search_form_button">
							<button class="search_button buttonItem">Найти</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="topVacancies">
	<div class="content">
		<div class="topVacancies_row">
			<div class="topVacancies_heading">Топ-вакансии</div>
			<div class="topVacancies_vacancies">
				<div class="vacancies_row">
					<div class="vacancies_column">
						<div class="vacancies_column_row">
							<div class="vacancyItem">
								<div class="vacancyItem_content">
									<div class="vacancyItem_heading">Аналитик данных</div>
									<div class="vacancyItem_information">
										<div class="information_content">Information</div>
									</div>
								</div>
							</div>
							<div class="vacancyItem">
								<div class="vacancyItem_content">
									<div class="vacancyItem_heading">Аналитик данных</div>
									<div class="vacancyItem_information">
										<div class="information_content">Information</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="vacancies_column">
						<div class="vacancies_column_row">
							<div class="vacancyItem">
								<div class="vacancyItem_content">
									<div class="vacancyItem_heading">Аналитик данных</div>
									<div class="vacancyItem_information">
										<div class="information_content">Information</div>
									</div>
								</div>
							</div>
							<div class="vacancyItem">
								<div class="vacancyItem_content">
									<div class="vacancyItem_heading">Аналитик данных</div>
									<div class="vacancyItem_information">
										<div class="information_content">Information</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

