<div class="vacancy">
	<div class="vacancy_box">
		<div class="vacancy_body">
			<div class="body_row" >
				<div class="body_vacancyName item">Должность: &#160;&#160; {{vacancy.position}}</div>
				<div class="body_companyName item">Компания: &#160;&#160; {{vacancy.name}}</div>
				<div class="body_salary item">Зарплата: &#160;&#160; {{vacancy.salary}}</div>
				<div class="body_city item">Город: &#160;&#160; {{vacancy.city}}</div>
				<div class="body_occupation item">Занятость: &#160;&#160; {{vacancy.occupation}}</div>
				<div class="body_experience item">Опыт работы: &#160;&#160; {{vacancy.experience}}</div>
				<div class="body_responsibility item">Задачи на работе: &#160;&#160; {{vacancy.responsibility}}</div>
				<div class="body_requirements item">Требования: &#160;&#160; {{vacancy.requirements}}</div>
				<div class="body_conditions item">Условия: &#160;&#160; {{vacancy.conditions}}</div>
				<div class="body_aboutYou item">О компании: &#160;&#160; {{vacancy.aboutYou}}</div>
				<div class="body_email item">Email: &#160;&#160; {{vacancy.email}}</div>
			</div>
		</div>
	</div>
</div>
