<div class="helloForm">
	<div class="content">
		<div class="helloForm_row">
			<div class="helloForm_heading">Войти</div>
			<div class="helloForm_signUp">
				<form class="signIn_form" name="signInForm" #signInForm = "ngForm">
					<div class="helloForm_signUp_row">
						<div class="signUp_inputs">
							<input #email="ngModel" class="signUp_firstInput inputItem" type="text" name="email" placeholder="Email" ngModel required>
							<input class="signUp_secondInput inputItem" #password="ngModel" type="password" name="password" placeholder="Password" ngModel required>
						</div>
						<div class="signUp_buttons">
							<button class="signUp_firstButton buttonItem" type="submit" (click)="userLoginClick(signInForm.value)" [disabled]="signInForm.invalid">Sign up</button>
							<div class="buttonQuestion"><div>Нет аккаунта? Зарегистрируйся!</div></div>
							<button class="signUp_secondButton buttonItem" type="button" routerLink="../registration">Register</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>