<div class="helloForm">
	<div class="content">
		<div class="helloForm_row">
			<div class="helloForm_heading">Войти</div>
			<div class="helloForm_signUp">
				<form action="">
					<div class="helloForm_signUp_row">
						<div class="signUp_inputs">
							<input class="signUp_firstInput inputItem" type="text" placeholder="Email" name="email">
							<input class="signUp_secondInput inputItem" type="text" placeholder="Password" name="password">
						</div>
						<div class="signUp_buttons">
							<button class="signUp_firstButton buttonItem" type="button">Sign up</button>
							<div class="buttonQuestion"><div>Нет аккаунта? Зарегистрируйся!</div></div>
							<button class="signUp_secondButton buttonItem" type="button" routerLink="../registration">Register</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>