<div class="article">
	<div class="article_row">
		<div class="article_heading">
			Статья
		</div>
		<div class="article_fields">
			<div class="fields_item">
				<label class="labelName" for="heading">Название статьи</label>
			    <input type="text" name="heading" value="{{article.heading}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="companyName">Название компании</label>
			    <input type="text" name="companyName" value="{{article.companyName}}" disabled>
			</div>
			<div class="fields_item">
				<label class="labelName" for="articleText">Текст
				</label>
			    <textarea name="articleText" disabled>{{article.articleText}}</textarea>
			</div>
		</div>
	</div>
</div>
