.article_row {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.article_heading {
	font-size: 25px;
	margin-bottom: 20px;
}

.article_fields {
	width: 100%;
}

.fields_item {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 10px;
}

.fields_item label{
	font-size: 20px;
}

.fields_item input{
	height: 40px;
}

.fields_item textarea{
	height: 100px;
}