<div class="employer">
	<div class="employer_box">
		<div class="employer_body">
			<div class="body_row" >
				<div class="body_name">
					<div class="employer_name">
						{{employer.name}}
					</div>
				</div>
				<div class="body_description">
					<div class="description_heading">
						Описание компании
					</div>
					<div class="employer_description">
						{{employer.description}}
					</div>
				</div>
				<div class="body_vacancies">
					<div class="vacancies_heading">Вакансии компании</div>
					<li *ngFor="let vacancy of employer.vacancies"><div class="body_item">
					    <a class="item_position" routerLink="../vacancy/" (click)="sendVac(vacancy)">{{vacancy.position}}</a>
					</div></li>
				</div>
			</div>
		</div>
	</div>
</div>
