<div class="cv">
	<div class="cv_box">
		<div class="cv_body">
			<div class="body_row" >
				<div class="body_vacancyName item">Должность: &#160;&#160; {{cv.position}}</div>
				<div class="body_name item">Имя, фамилия: &#160;&#160; {{cv.name}} &#160; {{cv.surname}}</div>
				<div class="body_salary item">Зарплата: &#160;&#160; {{cv.salary}}</div>
				<div class="body_phoneNumber item">Номер телефона: &#160;&#160; {{cv.phoneNumber}}</div>
				<div class="body_email item">Email: &#160;&#160; {{cv.email}}</div>
				<div class="body_age item">Возраст: &#160;&#160; {{cv.age}}</div>
				<div class="body_city item">Город проживания: &#160;&#160; {{cv.city}}</div>
				<div class="body_occupation item">Занятость: &#160;&#160; {{cv.occupation}}</div>
				<div class="body_educationPlace item">Место обучения: &#160;&#160; {{cv.educationPlace}}</div>
				<div class="body_faculty item">Факультет: &#160;&#160; {{cv.faculty}}</div>
				<div class="body_speciality item">Специальность: &#160;&#160; {{cv.speciality}}</div>
				<div class="body_aboutYou item">О себе: &#160;&#160; {{cv.aboutYou}}</div>
			</div>
		</div>
	</div>
</div>
